<!-- resources/templates/admin.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!-- Include jQuery for AJAX -->
</head>
<body>

<a th:href="@{/user/admin/add-movie}"> Add a new movie</a>

<div id="movie-list">
    <h1>Movies</h1>
    <div th:each="movie : ${movies}">
        <div>
            <h2 th:text="${movie.getTitle()}"></h2>
            <img th:src="${movie.getPoster()}" alt="imagePoster">
            <p th:text="${movie.getPlot()}"></p>
            <ul th:each="writer : ${movie.getWriter()}">
                <li th:text="${writer.getWriter()}"></li>
            </ul>
            <a th:href="@{/cinema/assign-movie/{movieId}(movieId = ${movie.getId()})}"> Assign Cinema</a>
        </div>
    </div>
</div>

</body>
</html>
