<!-- resources/templates/admin.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Page</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <style>

        .rating-number,
        .views-number {
            font-size: 5rem; /* Adjust the size as needed */
            font-weight: bold;
        }
    </style>

</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" th:href="@{/}">CineFlicks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a class="nav-link" th:href="@{/profile/admin/add-movie}"> New Movie</a>
            </li>
            <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a class="nav-link" th:href="@{/announcement}"> Create Announcement</a>
            </li>

        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a class="nav-link" href="/profile/admin">Admin Page</a>
            </li>
            <!-- Profile and Sign Out links for authenticated users -->
            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profile}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/auth/logout}">Sign Out</a>
                </li>
            </th:block>
            <!-- Sign In and Sign Up links for unauthenticated users -->
            <th:block th:unless="${#authorization.expression('isAuthenticated()')}">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/auth/login}">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/auth/register}">Sign Up</a>
                </li>
            </th:block>

        </ul>
    </div>
</nav>

<!-- Section to display users -->
<div class="container mt-5">
    <h2 class="text-center font-weight-bold mt-5">Users</h2>
    <div class="table-responsive"> <!-- Make the table responsive -->
        <table class="table table-bordered table-striped user-table"> <!-- Bootstrap table -->
            <thead>
            <tr>
                <th>User ID</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getUsername()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getRole()}"></td>
                <td>
                    <button th:if="${#authentication.getName() != user.getUsername()}" type="button" class="btn btn-danger delete-btn">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>




<div class="container mt-5">
    <h1 class="text-center font-weight-bold">Assigned Movies</h1>

    <!-- Search bar to filter movies -->
    <div class="mb-4">
        <input type="text" id="assigned-search-bar" class="form-control" placeholder="Search movies..." onkeyup="filterAssignedMovies()">
    </div>

    <div class="row" id="assigned-movie-list">
        <!-- Loop through movies and display as cards -->
        <div class="col-lg-4 col-md-6 col-sm-12" th:each="movie : ${assignedMovies}" th:id="'movie-' + ${movie.getId()}">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title text-center font-weight-bold" th:text="${movie.getTitle()}"></h5>
                    <p class="card-text text-center">Rated: <span th:text="${movie.getRated()}"></span></p>
                    <p class="card-text text-center">Runtime: <span th:text="${movie.getRuntime()}"></span></p>
                    <p class="card-text text-center">Genres: <span th:each="genre : ${movie.getGenre()}" th:text="${genre.getGenre()} + ' '"></span></p>
                    <div class="text-center">
                        <a class="btn btn-success" th:href="@{/cinema/assign-movie/{movieId}(movieId = ${movie.getId()})}">Assign Cinema</a>
                        <form th:action="@{/movie/{id}(id=${movie.getId()})}" method="post" class="d-inline-block ml-2">
                            <input type="hidden" name="_method" value="post"/>
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5" th:if="${!nonAssignedMovies.isEmpty()}">
    <h1 class="text-center font-weight-bold">Old Non Assigned Movies</h1>

    <!-- Search bar to filter movies -->
    <div class="mb-4">
        <input type="text" id="non-assigned-search-bar" class="form-control" placeholder="Search movies..." onkeyup="filterNonAssignedMovies()">
    </div>

    <div class="row" id="non-assigned-movie-list">
        <!-- Loop through movies and display as cards -->
        <div class="col-lg-4 col-md-6 col-sm-12" th:each="movie : ${nonAssignedMovies}" th:id="'movie-' + ${movie.getId()}">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title text-center font-weight-bold" th:text="${movie.getTitle()}"></h5>
                    <p class="card-text text-center">Rated: <span th:text="${movie.getRated()}"></span></p>
                    <p class="card-text text-center">Runtime: <span th:text="${movie.getRuntime()}"></span></p>
                    <p class="card-text text-center">Genres: <span th:each="genre : ${movie.getGenre()}" th:text="${genre.getGenre()} + ' '"></span></p>
                    <div class="text-center">
                        <a class="btn btn-success" th:href="@{/cinema/assign-movie/{movieId}(movieId = ${movie.getId()})}">Assign Cinema</a>
                        <form th:action="@{/movie/{id}(id=${movie.getId()})}" method="post" class="d-inline-block ml-2">
                            <input type="hidden" name="_method" value="post"/>
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container mt-4">
    <div class="row">
        <div class="col-md-5">
            <h2 class="text-center font-weight-bold">Top-Rated Movies</h2>
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead>
                    <tr>
                        <th class="text-center font-weight-bold" >Movie</th>
                        <th class="text-center font-weight-bold">IMDb Rating</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="movie : ${topRated}">
                        <td>
                            <img th:src="${movie.getPoster()}" alt="Poster" class="img-thumbnail">
                            <span th:text="${movie.getTitle()}" class="font-weight-bold d-block mt-2"></span>
                        </td>
                        <td class="rating-cell">
                            <span th:text="${#numbers.formatDecimal(movie.imdb_rating, 0, 'COMMA', 1, 'POINT')}" class="rating-number"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-7">
            <h2 class="text-center font-weight-bold">Top-Viewed Movies</h2>
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead>
                    <tr>
                        <th class="text-center font-weight-bold">Movie</th>
                        <th class="text-center font-weight-bold">IMDb Rating</th>
                        <th class="text-center font-weight-bold">Views in Cinema</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="movie : ${topViewed}">
                        <td>
                            <img th:src="${movie.getPoster()}" alt="Poster" class="img-thumbnail">
                            <span th:text="${movie.getTitle()}" class="font-weight-bold d-block mt-2"></span>
                        </td>
                        <td class="rating-cell">
                            <span th:text="${#numbers.formatDecimal(movie.imdb_rating, 0, 'COMMA', 1, 'POINT')}" class="rating-number"></span>
                        </td>
                        <td class="views-cell ">
                            <span th:text="${movie.getMovie_views()}" class="views-number"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>








<!-- Script to implement the filter and AJAX deletion -->
<script>
    // Function to filter movies based on search input
    function filterAssignedMovies() {
        var query = document.getElementById("assigned-search-bar").value.toLowerCase();
        var movies = document.getElementById("assigned-movie-list").getElementsByClassName("col-lg-4");

        Array.from(movies).forEach(function(movie) {
            var title = movie.getElementsByClassName("card-title")[0].innerText.toLowerCase();
            if (title.includes(query)) {
                movie.style.display = "block"; // Show matching movies
            } else {
                movie.style.display = "none"; // Hide non-matching movies
            }
        });
    }

    function filterNonAssignedMovies() {
        var query = document.getElementById("non-assigned-search-bar").value.toLowerCase();
        var movies = document.getElementById("non-assigned-movie-list").getElementsByClassName("col-lg-4");

        Array.from(movies).forEach(function(movie) {
            var title = movie.getElementsByClassName("card-title")[0].innerText.toLowerCase();
            if (title.includes(query)) {
                movie.style.display = "block"; // Show matching movies
            } else {
                movie.style.display = "none"; // Hide non-matching movies
            }
        });
    }


    $(document).ready(function() {
        $('.delete-btn').click(function() {
            var userId = $(this).closest('tr').find('td:first').text(); // Get the user ID from the first column
            var username = $(this).closest('tr').find('td:eq(1)').text(); // Get the username

            if (confirm("Are you sure you want to delete user " + username + "?")) {
                // User confirmed, send AJAX request to delete user
                $.ajax({
                    type: 'DELETE',
                    url: '/profile/delete/' + userId,
                    success: function(response) {
                        // Reload the page after deletion
                        window.location.reload(true);
                    },
                    error: function(xhr, status, error) {
                        console.error('Error Status:', status);
                        console.error('Error:', error);
                        console.error('Response Text:', xhr.responseText);
                        alert('Error deleting user: ' + status);

                    }
                });
            }
        });
    });
</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



</body>
</html>
