<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Login</title>
</head>
<body class="d-flex flex-column align-items-center justify-content-center">

<div class="row g-0 vh-100 bg-light w-75 ">
    <div class="col-md-6 d-flex align-items-center justify-content-center">
        <div class="px-5">
            <div class="text-center mb-5">
                <h2 class="registration-header card-title font-weight-bold">
                    Let’s <span class="text-success">Sign you up</span>, movies await you<span class="text-success">.</span>
                </h2>
            </div>
            <!-- Display error messages -->
            <div th:if="${error != null}" class="alert alert-danger" th:text="${error}"></div>
            <!-- Registration form -->
            <form class="row g-3 p-4 bg-light" th:action="@{/auth/register}" th:object="${userDTO}" method="post">
                <div class="col-12">
                    <label for="firstName" class="form-label">First Name:</label>
                    <input type="text" id="firstName" th:field="*{firstName}" class="form-control mb-2 rounded-pill" placeholder="Enter first name" required>
                </div>
                <div class="col-12">
                    <label for="lastName" class="form-label">Last Name:</label>
                    <input type="text" id="lastName" th:field="*{lastName}" class="form-control mb-2 rounded-pill" placeholder="Enter last name" required>
                </div>
                <div class="col-12">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" id="username" th:field="*{username}" class="form-control mb-2 rounded-pill" placeholder="Enter username" required>
                </div>
                <div class="col-12">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" id="email" th:field="*{email}" class="form-control mb-2 rounded-pill" placeholder="Enter email" required>
                </div>
                <div class="col-12">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" id="password" th:field="*{password}" class="form-control mb-2 rounded-pill" placeholder="Enter password" required>
                </div>
                <div class="col-12 mb-4">
                    <label for="confirmPassword" class="form-label">Confirm Password:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control mb-2 rounded-pill" placeholder="Confirm password" required>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-success w-100 rounded-pill">Register</button>
                </div>
                <div class="col-12">
                    <p class="text-muted small text-center">Already have an account? <a th:href="@{/auth/login}" class="text-secondary">Sign In</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Include Bootstrap Bundle with Popper -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
